<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h2>{{product.title}}</h2>
    </div>
    <div>Descripción: <i>{{product.description}}</i></div>
    <div>${{product.price}}</div>
	<button>Agregar al carrito</button>
</div>