<div class="container mt-5">
    <h2>Registrate</h2>
    <form id="frm_register">
        <div class="mb-3">
            <label for="txt_nombre" class="form-label">
                Nombre
            </label>
            <input id="txt_nombre" 
                   type="text" 
                   placeholder="Nombre" 
                   class="form-control">
        </div>

        <div class="mb-3">
            <label for="txt_apellido" class="form-label">
                Apellido
            </label>
            <input id="txt_apellido" 
                   type="text" 
                   placeholder="Apellido" 
                   class="form-control">
        </div>

        <div class="mb-3">
            <label for="txt_edad" class="form-label">
                Edad
            </label>
            <input id="txt_edad" 
                   type="text" 
                   placeholder="Edad" 
                   class="form-control">
        </div>

        <div class="mb-3">
            <label for="txt_email" class="form-label">
                Correo electr칩nico
            </label>
            <input id="txt_email" 
                   type="text" 
                   placeholder="Correo electr칩nico" 
                   class="form-control">
        </div>

        <div class="mb-3">
            <label for="txt_password" class="form-label">
                Constrase침a
            </label>
            <input id="txt_password" 
                   type="text" 
                   placeholder="Contrase침a" 
                   class="form-control">
        </div>

        <div id="message"></div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<script src="/js/register.js"></script>